# All in Alex/Alex directory
/Alex
/Alex/en.lproj

# All in Alex/Alex.xcodeproj directory
/Alex.xcodeproj
/Alex.xcodeproj/project.xcworkspace
/Alex.xcodeproj/project.xcworkspace/xcuserdata
/Alex.xcodeproj/project.xcworkspace/xcuserdata/Alex.xcuserdatad


/Alex.xcodeproj/xcuserdata/
/Alex.xcodeproj/xcuserdata/Alex.xcuserdatad/
/Alex.xcodeproj/xcuserdata/Alex.xcuserdatad/xcschemes

# All in Alex/AlexTests directory
/AlexTests
/AlexTests/en.lproj
