<div class="post">
    <a name="4723105268110948275"></a>
    <h2 class="post-title entry-title">
        <a href="http://i-blog-blogger-template.blogspot.nl/2008/04/my-schools-default-ratio.html">My School's Default Ratio?</a>
    </h2>
    <div class="post-header-line-1"></div>
    <div class="entry">
        <p> When a student has a consolidation loan, the school can determine his or her remaining loan eligibility by using the original principal loan amount minus any payments made. </p><p>      <b>Note:</b>        The outstanding balance on the subsidized and unsubsidized portions of the          consolidation loan is considered when determining the borrower's subsidized and unsubsidized          loan limits.  For example, if a consolidation loan contains an unsubsidized portion, the          outstanding balance on the unsubsidized portion of the consolidation is considered in          determining the borrower's unsubsidized loan limit.     </p>        <p>      Schools can determine the subsidized and unsubsidized portion of the consolidation loan:         </p><ol type="a"><li>reviewing the borrower's consolidation paperwork.</li><li>contacting the Loan Origination Center/ Loan Consolidation Department.</li><li>using the National Student Loan Data System (NSLDS).</li></ol>             <p>      If data is available on NSLDS, schools may be able to view the underlying loans in the          consolidation loan to determine the loan type.  Schools can access NSLDS online and find          the loans that were paid off through consolidation by selecting all loans with a status code          of PC (paid through consolidation).     </p>
        <div style="clear: both;"></div>
    </div>
    <div class="spacer"></div>
    <small>Posted on 1:32 AM by Cuong Nguyen and filed under  | <a onclick="" href="http://www.blogger.com/comment.g?blogID=415814782807805366&amp;postID=4723105268110948275">1 Comments »</a></small>
</div>
